*{
    box-sizing: border-box;
}

body{
    background: black;
    margin: 0;
}

.container{
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
}

.slider{
    display: flex;
    justify-content: center;
    position: relative;
    max-width: 900px;
}

.slider button{
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    position: absolute;
    bottom: calc(50% - 26px);
    z-index: 10;
    border-style: solid;
    opacity: 0.8;
    cursor: pointer;
}

button:hover{
    opacity: 1;
}

button:focus{
    outline: none;
}

#prevPicture{
    left: 0;
    border-width: 26px 35px 26px 0;
    border-color: transparent #fff transparent transparent;
}

#nextPicture{
    right: 0;
    border-style: solid;
    border-width: 26px 0 26px 35px;
    border-color: transparent transparent transparent #fff;
}

.mainText{
    color: #000000;
    text-align: center;
    width: 100%;
    font-size: 45px;
    font-family: Arial;
    font-weight: 700;
    background: aliceblue;
    padding: 15px 0;
}

.container img{
    border-radius: 10px;
    max-width: 100%;}

.slider ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.slider li{
    display: none;
    width: 100%;
}

.slider .visible{
    display: flex;
}

.fullScreen {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 100;
}
.fullScreen .close {
    position: absolute;
    bottom: 87%;
    left: calc(95% - 64px);
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 35px;
    border-radius: 7px;
    cursor: pointer;
}

.fullScreen img {
    display: block;
    width: 100%;
    border-radius: 0;
}

#gallery{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    flex-wrap: wrap;
}

#gallery img{
    width: calc(50% - 30px);
    padding: 15px;
}

.search-tags{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

input[type="text"]{
    padding: 25px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: inset 0 1px 4px hsla(0, 0%, 15%, 0.59);
    font-size: 20px;
}

input:focus{
    border: 1px solid #ccc;
    outline: none;
}

.button-show-hide{
    padding: 15px;
}

.button-show-hide button{
    padding: 15px;
    font-size: 20px;
    border: none;
    border-radius: 3px;
    background: #fff;
}

.button-show-hide button:focus{
    background: #d7d7e2;
}

.invisible {
    display: none;
}

.nav{
    height: 300px;
    text-align: center;
}

a{
    text-decoration: none;
    color: #ffffff;
}

a:hover{
    color: #d1e0ff;
}

.nav ul {
    list-style: none;
    margin: 0;
    width: 100%;
    color: #ffffff;
    border: 2px solid white;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav>ul>li {
    position: relative;
    width: 250px;
    border-top: none;
}

.nav>ul>li>ul {
    padding: 0;
    display: none;
    position: absolute;
    width: 252px;
}

.tooltip {
    color: #ccccff;
    position: relative;
    display: inline-block;
    font-weight: bold;
}

.tooltipText {
    position: absolute;
    bottom: 100%;
    left: 50%;
    display: block;
    background-color: #f0faff;
    border: 1px solid lightgrey;
    color: black;
    z-index: 1;
    padding: 10px;
    border-radius: 20%;
    filter: drop-shadow(rgba(0, 0, 0, 0.3) 0 2px 10px);
}

.tooltips{
    margin-top: 50px;
    color: white;
    text-align: center;
    font-size: 30px;
    height: 150px;
}

.todo{
    align-items: flex-start;
    justify-content: space-around;
    height: 600px;
}

.todo-list{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.todo-list button{
    margin: 15px;
    width: auto;
    overflow: visible;
    background: #ffffff;
    border: none;
    padding: 15px;
    border-radius: 5px;
    font-size: 20px;
}

.todo-list p{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;
}

#taskInput{
    padding: 15px;
    width: 400px;
}

.todo{
    width: 50%;
    display: flex;
    align-items: flex-start;
}

#taskList{
    color:#fff;;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
}

#taskList li{
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
}

#taskList li button{
    padding: 10px;
    font-size: 12px;
}

.done {
    color: #58c3ff;
}